html {
  height: 100vh;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  background-color: #555;
  box-sizing: border-box;
  border: 2vw solid black;
}

body {
  margin: 2em;
  color: white;
  max-width: 600px;
}

a, a:visited {
  display: block;
  color: antiquewhite;
}
